// COLOR
$color-primary: #55c57a;
$color-primary-light: #69c65873;
$color-primary-dark: #28ad83e6;

$color-secondary-light:#ffb900 ;
$color-secondary-dark:#ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-black: #000;
$color-white: #fff;
$color-gray: #777;
$color-gray-light: #f7f7f7;

// GRID
$grid-width: 114rem;
$gutter-vertical: 1rem;
$gutter-horizontal: 4rem;

//FONT
$default-font-size: 1.5rem;
